version: "2"

services:

  web:
    build: .

    volumes:
      - .:/products

    ports:
      - "3000:3000"

    environment:
      RAILS_ENV: development
      PORT: 3000
      # ISSUER: xxx
      # IDP_ENTITY_ID: xxx
      # IDP_SSO_URL: xxx
      # IDP_SLO_URL: xxx
      # NAME_ID_FORMAT: xxx
      # RAILS_LOG_TO_STDOUT: true

    command: foreman start -f Procfile.dev
